<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="Contact.css">
    <title>Contact</title>
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
</head>
<body>
   
    <div hx-get="/head.html" hx-trigger="load"></div>

    <h1>Contact</h1>

    <section class="contact">
        <p><span>Email: </span><b><u>jannattanzin323@gamil.com</u></b></p>
        <p><span>Pinterest: </span><a href="https://www.pinterest.com/jannattanzin323/?actingBusinessId=1144477461464166840"><b><u>pinterest.com/Illustranest</u></b></p></a>
        <p><span>LinkedIn: </span><a href="https://www.linkedin.com/in/tanzin-jannat-a727222b5/"><b><u>LinkedIn/TanzinJannat</u></b></p></a>
    </section>

    <div hx-get="/foot.html" hx-trigger="load"></div>

    <script src="index.js"></script>
</body>
</html>